*{
    margin: 0;
}

body{
    background-color: #cccccc;
}

header{
    background-color: blueviolet;
    
}
.section1{
    background-color: black;
    height: 450PX;
    background-image: url(../IMAGENES/Aesthetic\ Fantasy\ Concept\ Art.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section2{
    background-image: url(https://placehold.jp/9d1515/9d1515/1900x1000.png);
    height: 500px;
}
.section3{
    background-image: url(../IMAGENES/Aesthetic\ Fantasy\ Concept\ Art.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    height: 500px;
}
.section4{
    height: 1000px;    
}
