*{
    margin: 0;
}


/*Los keyframes se utilizan para crear animaciones  animar propiedades
se utiliza para definir animaciones, permite crear una secuencia de fotogramas
claves (keyframes)*/

@keyframes cambiarcolores{
    0%{
        background-color: red;
    }
    25%{
        background-color: yellow;
        
    }
    50%{
        background-color: green;
        
    }
    75%{
        background-color: blue;
        
    }
    100%{
        background-color: red;

    }
}

.circulo{
    background-color: rosybrown;
    width: 100px;
    height: 100px;
    
    border-radius: 200px;

    animation-name: cambiarcolores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /*Utiliza una curva personalizada que simula un rebote*/

}
.plataforma{
    background-color: salmon;
}
@keyframes volar {
    0%{
        
    }
    20%{
        transform: translate(200px, 0px);

    }
    30%{
        transform: translate(200px, 0px) rotate(90deg) ;

    }    
    40%{
        transform: translate(200px, 200px) rotate(90deg) ;

    }
    50%{
        transform: translate(200px, 200px) rotate(90deg) ;

    }
}

@keyframes mover {
    0%{
        transform: translate(200px, 0px) ;

        
    }
    20%{
        transform: translate(300px, 0px);
    }
    30%{
        transform: translate(300px, 0px);
    }   
    40%{
        transform: translate(300px, 0px);
    }   
    50%{
        transform: translate(300px, 0px);
    }
}

.avion{
    animation-name: volar, cambiarcolores;
    animation-duration: 10s;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; 
}

.platform {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 20px;
    background-color: #00ff00;
}
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}