body {
    font-family: Arial, sans-serif;
    background-color: #0d365f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 30px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

label {
    
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}





p {
    
    font-size: 14px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.boton {
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.boton:hover {
    background-color: #0056b3;
}
